.whyChoose {
  background: rgba(58, 26, 107);
  /* background: linear-gradient(135deg, #3a1a6b, #2e0f5d); */
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.whyChooseContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.whyChoose h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.whySubtitle {
  font-size: 1.1rem;
  color: #dcdcdc;
  margin: 1rem;
}

.whyCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.whyCard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.whyCard:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}

.whyIcon {
  font-size: 2.5rem;
  color: #ffd700;
  margin-bottom: 1rem;
}

.whyCard h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  
}

.whyCard p {
  color: #e0e0e0;
  font-size: 0.95rem;
}
/* Button */
.exploreSoltn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin: 0.75em 0.75rem;
  border: 1px solid rgb(102, 99, 99);
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
  font-weight:800 ;
  color: #3a1a6b;
}
.exploreSoltn:hover {
  transform: translateY(-5px);
}
