.introContent {
  width: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 40px;
  background: rgba(58, 26, 107);
  /* background: linear-gradient(135deg, #3a1a6b, #2e0f5d); */
}


.introTitle {
  font-weight: 700;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

.introDesc {
  margin-top: 0.50rem;
  font-weight: 400;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(192, 187, 187);
}



/* Tablet Responsive */
@media (max-width: 1024px) {
  .introTitle {
    font-size: 40px;
  }
  .introDesc {
    font-size: 18px;
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .introTitle {
    font-size: 32px;
  }
  .introDesc {
    font-size: 16px;
  }

  .exploreSoltn {
    display: block;
    width: 75%;
    margin: 0.8rem auto;
    font-size: 16px;
    min-height: 50px;
  }
}

@media (max-width: 380px) {
  .introTitle {
    font-size: 28px;
  }
  .introDesc {
    font-size: 13px;
  }


  .exploreSoltn {
    display: block;
    width: 75%;
    margin: 0.8rem auto;
    font-size: 16px;
    min-height: 50px;
  }
}