.nexcodenova {
  width: 100%;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;     /* center horizontally */
  background: whitesmoke;
}

/* Title & Description */
.nexcodenovaTitle {
  font-weight: 700;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3a1a6b;
  margin-bottom: 0.5rem;
}


/* Button */
.nexcodenovaexploreBtn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid rgb(102, 99, 99);
  background-color: #3a1a6b;
  color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  min-width: 150px;
  min-height: 50px;
  text-align: center;
}

.nexcodenovaexploreBtn:hover {
  color: #fff;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0px 8px 22px rgba(0,0,0,0.18);
}

/* Tablet Responsive */
@media (max-width: 1024px) {
  .introTitle {
    font-size: 40px;
  }
  .introDesc {
    font-size: 18px;
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .introTitle {
    font-size: 32px;
  }
  .introDesc {
    font-size: 16px;
  }

  .exploreSoltn {
    display: block;
    width: 75%;
    margin: 0.8rem auto;
    font-size: 16px;
    min-height: 50px;
  }
}

@media (max-width: 380px) {
  .introTitle {
    font-size: 28px;
  }
  .introDesc {
    font-size: 13px;
  }

  .exploreSoltn {
    display: block;
    width: 75%;
    margin: 0.8rem auto;
    font-size: 16px;
    min-height: 50px;
  }
}

/* ================== ANIMATIONS ================== */

/* Up-to-down animation */
.animate-up {
  opacity: 0;
  transform: translateY(-40px);
  animation: slideDown 1s ease forwards;
  animation-delay: 0.2s;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade with slight scale */
.animate-fade {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
