.pageContentmain {
  width: 100%;  
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
  z-index: 10;
  position: relative;
}

.pageContentImg {
  width: 85%;          
  height: auto;        
  max-height: 525px;   
  border-radius: 50px;
  object-fit: cover;  
}

/* Tablet: medium screens */
@media (max-width: 1024px) {
  .pageContentImg {
    max-height: 650px; 
    width: 92%;       
    border-radius: 30px;
  }
}

/* Mobile: small screens */
@media (max-width: 768px) {
  .pageContentImg {
    max-height: 650px; 
    width: 97%;       
    border-radius: 20px;
  }

  .pageContentmain {
    margin-bottom: 1rem; 
    justify-content: center; 
  }
}

