.searchResultsPage {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.searchResultsPage h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #3a1a6b;
}

.categoryGroup {
  margin-bottom: 50px;
}

.categoryTitle {
  text-align: center; 
  font-size: 25px;
  color: #2E4053;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase; /* Makes text uppercase */
}