*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: '' ,  sans-serif;
}
body{
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.4s ease, color 0.4s ease;
}